* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 21px;
}

/* button */
.button {
    color: white;
    font-size: 21px;
    font-weight: bold;
    background-color: #4B2E83;
    border: none;
    border-radius: 10px;
}

.button:hover {
    filter: brightness(.8);
}

.button--large {
    width: 233px;
    height: 34px;
}

/* game window */
.game-window {
    width: 740px;
    height: 490px;

    border: 20px solid #4B2E83;
    border-radius: 20px;
}

/* play menu */
.play-menu {
    display: flex;
    flex-direction: column;
    gap: 144px;

    padding: 50px;
}

.play-menu__header {
    color: #4B2E83;
    font-size: 55px;
}